@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    font-family: "Muli", sans-serif;
}
body {
    width: 99%;
    height: 98%;
    background-image: url("sky_clouds-wallpaper-1920x1080.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;

}
.all {
    width: 40%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.searchBar {
    margin-top: 2rem;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchBar input, .searchBar button{
    height: 100%;
    border-radius: 10px;
    border: none;
    margin-right: 0rem;
}
.searchBar input {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.3rem;
}
.searchBar:focus {
    border: none;
 }
.searchBar input::placeholder {
    font-size: 1rem;
    color: white;
}
.searchBar button {
    width: 10%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
.searchBar button:hover {
    width: 12%;
    background-color: rgba(30, 30, 30, 0.5);
    cursor: pointer;
}
.afterSearchClick {
    height: 50%;
}
p{
    margin-left: 1.5rem;
}
